body {
  margin : 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

/*TOP*/
.top-container {
  position: relative;
  overflow: hidden;
  height: 670px;
}

.presentacion {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 150px;
}



.presentacion h1{
  color: #f8615a;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

.menu {
  position: absolute;
  top: 1em;
  right: 1em;
}

a {
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}
.menu a {
  margin: 0;
  padding: 0 0;
  border-width: 0;
  padding: 5px 5px;
  border-style: hidden;
  background-color: Transparent;
  color: white;
  border: 2px solid #f8615a;
  transition-duration: 0.4s;
  font-size: 15px;
  outline:none;
  }

.menu a:hover {
    border: 2px solid #f8615a;
    background-color: #f8615a;
    color: white;
  }

.menu a:focus{
  border: 2px solid #721b65;
  background-color: Transparent;
}

.menu a:focus:hover{
  background-color: #721b65;
  border: 2px solid #721b65;
}

/*Center*/
.center-container {
  margin-top: 2em;
}

.center-container hr {
  width: 20em;
}




/*BOTONES*/
